/*Extra small devices (portrait phones, less than 576px*/
@media (max-width: 575.98px) {
       /*nav bar*/
.logo img {
    width: 180px;
}
 .menu ul li a{
    padding: 2px 10px !important;
}
.ci_1{
   margin: 2px 10px;
}
}

 /*Small devices (landscape phones, 576px and */
@media (min-width: 576px) and (max-width: 767.98px) {
     /*nav bar*/
 .menu ul li a{
    padding: 2px 10px !important;
}
.ci_1{
   margin: 2px 10px;
}
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*nav bar*/
 .menu ul li a{
    padding: 2px 10px !important;
}
.ci_1{
   margin: 2px 10px;
}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}

 /*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}
